@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,200;1,300;1,400;1,700&display=swap');
* {
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
    margin: 0px;
	background: #ffffff;
	text-decoration: none;
}
body{
	min-height: 100vh;
  	position: relative;
  	padding-bottom: 100px; 
}
.navbar{
	box-shadow: 0 4px 8px 0 darkgray, 0 6px 20px 0 gray;
}
.logo{
	position: relative;
    width: 300px;
    left: 15px;
    background-size: contain;
}
.vacio{
	background: none;
}
.formulario{
	margin-top: 5%;
	font-size: 1.3em;
	border-radius: 10px;
	padding: 3%;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: 0 4px 8px 0 darkgray, 0 6px 20px 0 gray;
}
.label{
	margin: 3%;
	margin-bottom: 0;
}
input{
	border-style: none;
	resize: none;
	padding: 1%;
	border-radius: 10px;
	margin-top: 0;
}
input:focus{
	outline: none;
}
.boton{
	margin-top: 5%;
	margin-bottom: 5%;
	background: none;
}
.boton span{
	position:absolute; 
  	width:100%;
 	height:100%;
  	top:0;
  	left: 0;
	z-index: 1;
	background: none;
}
.boton div{
	background: #DADADA;
	border-radius: 10px;
	padding: 10px;	
}
.boton div a{
	color: black;
}
.boton div:hover{
	background: #878787;
	color: black;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px;
	width: 100%;
	text-align: center;
  }
nav, .label,.logo, .barra, .formulario, footer, footer div, footer span{
	background: #EDEDED;
}
a{
	text-decoration: none;
}